<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>煤链社-煤炭贸易综合服务平台</title>
    <meta
      name="keywords"
      content="煤炭供应，煤炭代发，煤质化验，煤炭检测，煤炭托盘，煤炭运输，煤炭贸易，煤炭开票"
    />
    <meta
      name="description"
      content="煤链社，煤炭贸易综合服务平台，经过多年的摸索和沉淀 以交易为核心构建了集交易结算服务、供应链服务、仓储加工服务、物流配送服务、数据信息服务 于一体的“全产业链生态服务体系”"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="./static/favicon.ico" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1051326_9nvj0hb8zig.css" />
  </head>

  <body>
    <div id="app-box"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
